@import "tailwindcss";

@theme {
  --color-red: #A02424;
  --color-green: #A2AF91;
  --color-cream: #E7E5DA;
  --color-greentext :#004830;
}
@font-face {
  font-family: "Ribbon";
  src: url("@/assets/fonts/Ribbon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}