/* ======================================Popertrs=================================== */
.header_pop{
    text-align: center;

}
.section_pop {
  padding: 40px 20px;
}

.container_pop {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.card_pop {
  background: #ffffff;
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform ;
}

.card_pop:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 480px) {
  .container_pop {
    grid-template-columns: 1fr; /* mobile */
  }
}
/* =================================================Navbar====================================================== */
.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-family: 'Inter', sans-serif;
}

.navContainer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.navLogo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2563eb;
  text-decoration: none;
}

.navMenu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navLink {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #2563eb;
}

.navToggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #333;
}

@media (max-width: 768px) {
  .navToggle {
    display: block; 
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 0;
    text-align: center;

    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, padding 0.3s ease;
    border-top: 0px solid #eee;
  }


  .navMenu.active {
    max-height: 300px;
    padding: 20px 0;
    border-top: 1px solid #eee;
  }

  .navMenu li {
    padding: 15px 0;
  }
}